In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import random

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
#soup

In [6]:
title_artists = soup.select("p.title-artist")
#print(title_artists)

In [7]:
for i in title_artists:
    i.select(".title")[0].get_text()
    i.select(".artist")[0].get_text()
#     print(i.select(".title")[0].get_text())
#     print(i.select(".artist")[0].get_text())

In [8]:
#initialize empty lists
song_title = []
singers = []


num_iter = len(soup.select("p.title-artist"))

song_list = soup.select(".title")
singers_list = soup.select(".artist")
# iterate through the result set and retrive all the data
for i in range(num_iter):
    song_title.append(song_list[i].get_text())
    singers.append(singers_list[i].get_text())
    

# print(song_title)
# print(singers)

In [9]:
songs = pd.DataFrame({"song_title":song_title,
                       "artists":singers,
                       
                      })

In [10]:
songs.head(10)

          song_title                     artists
0             Unholy      Sam Smith & Kim Petras
1   Eagle (feat. KB)      Transformation Worship
2    I'm Good (Blue)   David Guetta & Bebe Rexha
3  wait in the truck       HARDY & Lainey Wilson
4         Everywhere               Fleetwood Mac
5          Thank God  Kane Brown & Katelyn Brown
6   A Thousand Years             Christina Perri
7    Son Of A Sinner                  Jelly Roll
8   Make It With You                       Bread
9          You Proof               Morgan Wallen

In [11]:
print(len(songs))

100

In [12]:
# did scraping in another website

In [13]:
url1 = "https://www.billboard.com/charts/hot-100/"

In [14]:
response = requests.get(url1)
response.status_code

200

In [15]:
soup1 = BeautifulSoup(response.content, "html.parser")

In [16]:
#soup1

In [17]:
song_singers = soup1.select("ul.lrv-a-unstyle-list > li.o-chart-results-list__item.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.lrv-u-border-color-grey-light.lrv-u-padding-l-050")
#print(song_singers)

In [18]:
titles = []
singers = []
for i in song_singers:
    titles.append(i.select("h3#title-of-a-story")[0].get_text().strip()) # #- for accessing ID attribute.
    singers.append(i.select("span.c-label")[0].get_text().strip())
    
songs1= pd.DataFrame({'song_title': titles, 'artists': singers})
print(songs1.shape)

(99, 2)

In [19]:
df = pd.concat([songs, songs1])

In [20]:
df.shape

(199, 2)

In [21]:

#df[df.duplicated()]

In [22]:
url2 ="https://www.listchallenges.com/top-1000-songs-of-all-time-acclaimed-music"

In [23]:
response = requests.get(url2)
response.status_code

200

In [24]:
soup2 = BeautifulSoup(response.content, "html.parser")

In [25]:
#soup2

In [26]:
from time import sleep
from random import randint

In [27]:
iterations = range(1, 26)
[i for i in iterations]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [28]:
pages = []

for i in iterations:
    # assemble the url:
    start_at= str(i)
    url3 = "https://www.listchallenges.com/top-1000-songs-of-all-time-acclaimed-music/list/" + start_at 

    # download html with a get request:
    response4 = requests.get(url3)
    #response = requests.get(url, headers = {"Accept-Language": "en-US"})

    # monitor the process by printing the status code
    print("Status code: " + str(response4.status_code))

    # store response into "pages" list
    pages.append(response4)

    # respectful nap:
    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 4 second/s.

In [29]:
#pages[0].content

In [30]:
songs_div = []
for i in range(0, len(pages)):
    soup3 = BeautifulSoup(pages[i].content, "html.parser")
    songs_div.extend(soup3.find_all('div', class_ = 'item-name'))

len(songs_div)

1000

In [31]:
import numpy as np
song_thousand = []
for song in songs_div:
    song_thousand.append(song.get_text().replace('\r', '').replace('\n', '').replace('\t', ''))
    
#print(songs_1000)
song_thousand = [item.split('-') for item in song_thousand]
#song_thousand

In [32]:
df1 = pd.DataFrame(song_thousand,columns=['song_title','artists','1','2']) # because of the intials for the artist getting an extra columns so drop the unwanted columns.
df1 = df1.drop(columns=['1', '2'],axis = 1)
df1

                            song_title                   artists
0                           Bob Dylan       Like a Rolling Stone
1                             Nirvana    Smells Like Teen Spirit
2                   A Day in the Life                The Beatles
3    The Beach Boys, "Good Vibrations"                      None
4                     Johnny B. Goode                Chuck Berry
..                                 ...                       ...
995     Drunk Drivers / Killer Whales          Car Seat Headrest
996           Pinball Wizard (The Who)                      None
997                    Up on the Roof               The Drifters
998            Burning Down the House              Talking Heads
999                       Good Lovin'          The Young Rascals

[1000 rows x 2 columns]

In [51]:
frames = [df, df1]
df_new = pd.concat(frames)
df_new['song_title'] = df_new['song_title'].str.strip()
df_new['artists'] = df_new['artists'].str.strip()

In [48]:
df_new

                        song_title                    artists
0                           Unholy     Sam Smith & Kim Petras
1                 Eagle (feat. KB)     Transformation Worship
2                  I'm Good (Blue)  David Guetta & Bebe Rexha
3                wait in the truck      HARDY & Lainey Wilson
4                       Everywhere              Fleetwood Mac
..                             ...                        ...
995  Drunk Drivers / Killer Whales          Car Seat Headrest
996       Pinball Wizard (The Who)                       None
997                 Up on the Roof               The Drifters
998         Burning Down the House              Talking Heads
999                    Good Lovin'          The Young Rascals

[1199 rows x 2 columns]

In [79]:
# checked for the NAN's and replaced the nan with emptyvlaues
df_new.isna().sum()

df_new = df_new.fillna('')
#df_new.isna().sum()

song_title    0
artists       0
dtype: int64

In [78]:
# checked the duplicates and removed them from the data frame and decided not to remove 

len(df_new[df_new.duplicated()])

27

In [86]:
def song_recommender():
    a = input("Enter your favorite song: ")
# here i changed the user input to lower case because end user can give the input in any case.
# also i want to give the recommendation for the user atleast one word matches.
# so i used inline looping.
    
    if((any(a.lower() in title for title in df_new['song_title'].str.lower().values)) or (any(a.lower() in artist for artist in df_new['artists'].str.lower().values))):
#     if ((a.lower() in df_new['song_title'].str.lower().values) or (a.lower() in df_new['artists'].str.lower().values)):
        ran_num = random.choice(df_new['song_title'])
        print('Here you go ... We recommend this song for you \n ENJOY listening to the song:',ran_num)
    else:
        print("Sorry, your song is not on the list and we don't have recommendations")
        
        repeat=input("Do you want to try another song? y/n")
        if repeat == 'y':
            song_recommender()
        else:
            print("Thank you for using our song recommender!")

In [ ]:
song_recommender()